.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua; /* Background color set to aqua */
}

.quote-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 400px;
  text-align: center;
  position: relative;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: orange; /* Button color set to orange */
  color: white;
  font-size: 16px;
}


.saved-quotes {
  margin-top: 40px;
}

.saved-quotes h2 {
  font-size: 24px;
}

.remove-button {
  position: absolute;
  top: 2px;
  right: 5px;
  padding: 5px;
  background: transparent;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}


